
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: node-app
spec:
  project: default
  source:
    repoURL: https://github.com/your/repo.git
    path: k8s
    targetRevision: HEAD
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
